Final Deliverables/Demo video & Final code/With Worldmap.json
[{"id":"7a587bc5e5102769","type":"tab","label":"With Worldmap","disabled":false,"info":"","env":[]},{"id":"e7201252a4f536f0","type":"ibmiot in","z":"7a587bc5e5102769","authentication":"apiKey","apiKey":"63fbab8770456ad7","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"iot","applicationId":"","deviceType":"iot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":650,"y":600,"wires":[["b71b93b862761195","282bb4b85c601637"]]},{"id":"b71b93b862761195","type":"debug","z":"7a587bc5e5102769","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":600,"wires":[]},{"id":"73ee1d30e61f8d21","type":"delay","z":"7a587bc5e5102769","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":460,"wires":[["ba8ab34223ccf341"]]},{"id":"adac0c38fb61ce53","type":"debug","z":"7a587bc5e5102769","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":360,"wires":[]},{"id":"21a7b0f36c8351b9","type":"switch","z":"7a587bc5e5102769","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":300,"wires":[["10b1df7f53ecbfb9"],["f21064aff8e989d7"]]},{"id":"3680a19c25cf6fc6","type":"debug","z":"7a587bc5e5102769","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"0366cfe1b10fe0e1","type":"qrcode-generator","z":"7a587bc5e5102769","name":"QRCODE","qrtype":"text2qr","text2qrText":"HERE IS YOUR QR CODE","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":600,"y":100,"wires":[["ef673421655a0534","6f84dc34ea8afe0f","aebb9afc5245f77c"]]},{"id":"ef673421655a0534","type":"delay","z":"7a587bc5e5102769","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":180,"wires":[["9463c14d5e935796"]]},{"id":"282bb4b85c601637","type":"worldmap","z":"7a587bc5e5102769","name":"","lat":"","lon":"","zoom":"5","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"true","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,TL,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":880,"y":660,"wires":[]},{"id":"90d32b602bb5fcfa","type":"ui_button","z":"7a587bc5e5102769","name":"","group":"76d98553dbe2e3e2","order":2,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":520,"wires":[["577145f5282f181c"]]},{"id":"0e6fed747a066fb6","type":"ui_dropdown","z":"7a587bc5e5102769","name":"","label":"Boarding Station","tooltip":"","place":"Select option","group":"082c0ae2f172b84d","order":1,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"Chennai","value":"Coimbatore","type":"str"},{"label":"Vijayawada","value":"Chennai","type":"str"},{"label":"Bhubaneswar","value":"Vijayawada","type":"str"},{"label":"Howrah","value":"Bhubaneswar","type":"str"},{"label":"Coimbatore","value":"Howrah","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":230,"y":600,"wires":[["d11204d4e97456e5"]]},{"id":"927935fb0bec27ef","type":"ui_dropdown","z":"7a587bc5e5102769","name":"","label":"Destination Station","tooltip":"","place":"Select option","group":"082c0ae2f172b84d","order":1,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"Bhubaneswar","value":"Howrah","type":"str"},{"label":"Vijayawada","value":"Bhubaneswar","type":"str"},{"label":"Chennai","value":"Vijayawada","type":"str"},{"label":"Coimbatore","value":"Chennai","type":"str"},{"label":"Howrah","value":"Coimbatore","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":230,"y":660,"wires":[["d20d1f2a494dab36"]]},{"id":"1e18b269973ac297","type":"ui_dropdown","z":"7a587bc5e5102769","name":"Seats","label":"Seat","tooltip":"","place":"Select your seat number please","group":"eb91800426dd5a22","order":4,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"1st seat","value":"1","type":"str"},{"label":"2nd seat","value":"2","type":"str"},{"label":"3rd seat","value":"3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":730,"y":460,"wires":[["d7cd7ab86504c216"]]},{"id":"7d3a0db9e1e6a0d4","type":"ui_form","z":"7a587bc5e5102769","name":"","label":"","group":"fce3cdca51ae9133","order":3,"width":"0","height":"0","options":[{"label":"Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Mobile.No","value":"Num","type":"number","required":true,"rows":null}],"formValue":{"Name":"","Age":"","Num":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"className":"","x":150,"y":400,"wires":[["73ee1d30e61f8d21","6cdf1143b4c4b2fb","466746b598d146c3"]]},{"id":"514bfef19b9cab66","type":"ui_toast","z":"7a587bc5e5102769","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":810,"y":300,"wires":[[]]},{"id":"6f84dc34ea8afe0f","type":"ui_template","z":"7a587bc5e5102769","group":"cf3b6188c51b1e44","name":"","order":5,"width":"5","height":"5","format":"<img src={{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":840,"y":100,"wires":[[]]},{"id":"aebb9afc5245f77c","type":"function","z":"7a587bc5e5102769","name":"","func":"msg.payload = \"Ticket is Generated/Reserved\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":40,"wires":[["7697e631cf313e67"]]},{"id":"2039db1050602d35","type":"function","z":"7a587bc5e5102769","name":"QR Code data","func":"msg.qrcodeinput = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":220,"wires":[["3680a19c25cf6fc6","0366cfe1b10fe0e1"]]},{"id":"f21064aff8e989d7","type":"function","z":"7a587bc5e5102769","name":"","func":"msg.payload = \"Ticket Cannot be Booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["514bfef19b9cab66"]]},{"id":"6cdf1143b4c4b2fb","type":"function","z":"7a587bc5e5102769","name":"m","func":"global.set('m',msg.payload)\nvar a = global.get('s')\nif(a==1 || a==2 || a==3 || a==4 || a==5){\n    msg.payload = 0\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n// global.set('m',msg.payload)\n// var a = global.get('s')\n// if(a==1 || a==2 || a==3 || a==4 || a==5){\n//     msg.payload = 0\n// }\n// else{\n//     msg.payload = 1\n// }\n// return msg;","finalize":"","libs":[],"x":250,"y":320,"wires":[["21a7b0f36c8351b9"]]},{"id":"466746b598d146c3","type":"function","z":"7a587bc5e5102769","name":"","func":"var s=global.get('s')\nvar a=global.get('a')\n//var seatCount  = global.get('seatCount')\n//if(seatCount < 0) return msg\nfunction rem(x){\n  //global.set('seatCount',seatCount-1)    \n  for(let i = 0 ; i<a.length;i++){\n      if(a[i]==x){\n          a.splice(i,1)\n      }\n  }\n  //global.set('a',a)\n}\nif(s==1){\n    global.set('s1',s)\n    rem(s)\n}\nelse if(s==2){\n    global.set('s2',s)\n    rem(s)\n}\nelse if(s==3){\n     global.set('s3',s)\n    rem(s)\n}\n// else if(s==4){\n//     global.set('s4',s)\n//     rem(s)\n// }\n// else if(s==5){\n//     global.set('s5',s)\n//     rem(s)\n// }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":400,"wires":[["adac0c38fb61ce53"]]},{"id":"d7cd7ab86504c216","type":"function","z":"7a587bc5e5102769","name":"","func":"// var seats  = global.get('a');\n// if(seats.length == 0){\n//     msg.payload = \"no seat available\"\n//     global.set('s',0)\n//     return msg\n// }\nglobal.set('s',msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":400,"wires":[["4f82e98e89cde6da"]]},{"id":"ba8ab34223ccf341","type":"function","z":"7a587bc5e5102769","name":"","func":"var a = global.get('a')\ns=[]\nfor(let i = 0 ; i<a.length ;i++){\n    s.push(a[i])\n}\n\nif(s.length==0){\n    msg.options=[{\"No Seats Available\" : 0}]\n}\n\nelse{\n    msg.options=s\n}\n\nif(s.length==1){\n    global.set('s',s[0])\n    msg.payload=s[0]\n    return msg\n}\nmsg.payload=s\nreturn msg;\n\n\n// var a=global.get('a')\n// var seatCount = global.get('seatCount')\n// var s= []\n// if(seatCount == 0){\n// msg.payload= [{\"No seats available\":0}]\n// return msg;  \n// }\n// for(let i=0;i<a.length;i++){\n//  s.push(a[i])\n// }\n// msg.options= s\n// msg.payload= s\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["1e18b269973ac297","63b50481c774725d"]]},{"id":"577145f5282f181c","type":"function","z":"7a587bc5e5102769","name":"","func":"global.set('s1',0)\nglobal.set('s2',0)\nglobal.set('s3',0)\n// global.set('s4',0)\n// global.set('s5',0)\nvar a1=[1,2,3]\n//var seatCount = 3 \n//global.set('seatCount',seatCount)\nglobal.set('a',a1)\n//global.set('s',1)\nmsg.payload = global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":520,"wires":[["ba8ab34223ccf341"]]},{"id":"d11204d4e97456e5","type":"function","z":"7a587bc5e5102769","name":"Boarding","func":"global.set('b', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":580,"wires":[[]]},{"id":"d20d1f2a494dab36","type":"function","z":"7a587bc5e5102769","name":"Destination","func":"global.set('d', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":680,"wires":[[]]},{"id":"10b1df7f53ecbfb9","type":"function","z":"7a587bc5e5102769","name":"Storing data in DB","func":"var m=global.get('m')\nvar d=new Date();\nvar utc=d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset=5.5;\nnewDate=new Date(utc+(3600000*offset));\nvar n=newDate.toISOString()\nvar date=n.slice(0,10)\nvar time=n.slice(11,19)\nvar d1=date+','+time\n\nmsg.payload={\n    \"_id\":d1,\n    \"Name\":m.Name,\n    \"Age\":m.Age,\n    \"Mobile\":m.Num,\n    \"boarding\":global.get('b'),\n    \"destination\":global.get('d'),\n    \"Seat\":global.get('s')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":200,"wires":[["2039db1050602d35","e91e5c69359f618f"]]},{"id":"7697e631cf313e67","type":"ui_toast","z":"7a587bc5e5102769","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":970,"y":60,"wires":[[]]},{"id":"9463c14d5e935796","type":"function","z":"7a587bc5e5102769","name":"Empty Data","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":180,"wires":[["6f84dc34ea8afe0f"]]},{"id":"4f82e98e89cde6da","type":"debug","z":"7a587bc5e5102769","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":460,"wires":[]},{"id":"63b50481c774725d","type":"debug","z":"7a587bc5e5102769","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"e91e5c69359f618f","type":"cloudant out","z":"7a587bc5e5102769","name":"booking","cloudant":"bba89bde50b2b6d5","database":"booking","service":"node-red-kqcap-2022--cloudant-1667915451827-23381","payonly":false,"operation":"insert","x":400,"y":160,"wires":[]},{"id":"63fbab8770456ad7","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"76d98553dbe2e3e2","type":"ui_group","name":"Clear","tab":"39c45aa9b5b2c560","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"082c0ae2f172b84d","type":"ui_group","name":"","tab":"39c45aa9b5b2c560","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"eb91800426dd5a22","type":"ui_group","name":"Seat","tab":"39c45aa9b5b2c560","order":2,"disp":false,"width":"14","collapse":false,"className":""},{"id":"fce3cdca51ae9133","type":"ui_group","name":"Details","tab":"39c45aa9b5b2c560","order":3,"disp":true,"width":"14","collapse":true,"className":""},{"id":"cf3b6188c51b1e44","type":"ui_group","name":"QR Code","tab":"39c45aa9b5b2c560","order":4,"disp":true,"width":"14","collapse":false,"className":""},{"id":"bba89bde50b2b6d5","type":"cloudant","host":"https://eca50980-384e-4ee2-88dc-8ea084ed7039-bluemix.cloudant.com","name":"booking"},{"id":"39c45aa9b5b2c560","type":"ui_tab","name":"Form","icon":"dashboard","order":0,"disabled":false,"hidden":false}]
